<body>
    <main class="container mt-4">
        <h1 class="mb-4 display-4 animated fadeIn fast">Acerca de</h1>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Mi Webpage</h5>
                <p class="card-text text-center  animated fadeIn fast">- Esta es una aplicación web diseñada para mostrar información sobre un tema específico.</p>
                <p class="card-text text-center  animated fadeIn fast">- Utiliza Angular y Bootstrap para construir la interfaz de usuario.</p>
                <p class="card-text text-center  animated fadeIn fast">- Esperamos que encuentres esta aplicación útil y disfrutes de su funcionalidad.</p>
                <br>
            </div>
        </div>
    </main>
    <br>
    <hr>

    <footer class="mt-4 text-center">
        <p>&copy; 2023 PaginaHeroes. Todos los derechos reservados.</p>
    </footer>
</body>